/*this css is for all elements */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* hedhi lil navbar */
#logo{
    width: 3rem;
    height: 3rem;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 12vh;
    width: 100%;
}
h1{
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1.7px;
    margin-left: 30px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 2vw;
}
.links{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 60%;
    color: black;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin-right: 4vw;
    z-index: 4;
}
.links a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.links a:visited{
    color: black
}
.links a:active{
    color: rgb(255, 0, 0);
}
.links a::before{
    content:"";
    position: absolute;
    width: 4rem;    
    background-color: rgb(0, 0, 0);
    height: 5px;
    transform: translateY(25px);
    border-radius: 5px;
    width: 0px;
    transition: width 300ms;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);

}
.links a:hover::before{
    width: 50px;
}
#special{
    background-color: black;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    padding: 9px;
    letter-spacing: 1px;
    cursor: pointer;
}
#special:hover{
    color: rgb(0, 169, 215);
    border-color: rgb(0, 179, 255);
}
@media only screen and (max-width:1200px) {
    #logo{
        width: 2.5rem;
        height: 2.5rem;
    }
}
@media only screen and (max-width:800px) {
    .links {
        position: absolute;
        top: 82px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgb(80 80 80 / 92%);
        height: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 1;
        overflow: hidden;
        z-index: 10;
    }

    .active {
        height: 450px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        background-color: white;
        border: none;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: black;
        margin: 6px 0;
    }
    .links a{
        padding: 10px 25px;
        transition: padding 3s;
        text-align: center;
    }
    .links a:hover{
        background-color: white;
        border-radius: 50px;
    }
    .links a:visited:hover{
        color: black;
    }
    .links a:visited{
        color: white;
    }
    .links a:hover::before{
        width: 0px;
    }
    .links .active{
        height: 450px;
    }
    .left{
        width: 60%;
    }
}
@media only screen and (max-width:500px){
    .navbar h1{
        font-size: 16px;
    }
    .left{
        width: 80%;
    }
    .links{
        top: 80px;
    }
    
}
@media only screen and (max-width:450px){
    .navbar h1{
        font-size: 16px;
    }
    .left{
        width: 80%;
    }
    .links{
        top: 100px;
    }
    
}
@media only screen and (max-width:400px){
    .navbar h1{
        font-size: 16px;
    }
    .left{
        width: 80%;
    }
    .links{
        top: 85px;
    }
    
}
/*this part is for the home page */
/* this is maram's starting*/
.home{
    background-size: cover;
    height: 0px;
    width: 1280px;
    margin: 0 auto;
}
/*the image slider part*/
.left-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: #000000;
    z-index: 1;
    cursor: pointer;
  }
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: #000000;
    z-index: 1;
    cursor: pointer;
  }
.slider {
    height: 100%;
    position: relative;
  }
  .h1{
    position: relative;
    top: 500px;
  }
.tawi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
    margin: auto;
}
.welcome{
    font-size: 29px;
    text-align: center;
    margin-bottom: 2rem;
}
.whatever{
    width: 80%;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.696);
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
}
.sp1{
    text-align: center;
}
/*css home*/
@media only screen and (max-width:900px){
    .sp1{
        text-align: center;
    }
    .whatever{
        line-height: 25px;
        font-size: 17px;
    }
}
@media only screen and (max-width:750px){
    .welcome{
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .whatever{
        width: 90%;
    }
    .sp1{
        height: 50px;
    }
}






































/* css mt3 aboutus */

.aboutus{
    width: 100%;
    height: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aboutus .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 80%;
    background-color: #D9D9D9;
    border-radius: 50px;
}
.aboutus .box:hover{
    background: linear-gradient(to right, #D9D9D9 30%,rgb(255, 255, 255) 70%,#D9D9D9);
}
.aboutus .box .image1{
    width: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(0, 140, 255);
}
.aboutus .box .text{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.aboutus .box .text h1{
    font-size: 32px;
}
.aboutus .box .text p{
    width: 80%;
    font-size: 15px;
    margin: 20px 0;
    letter-spacing: 1.5px;
    line-height: 30px;
}
.aboutus .box .text button{
    background-color: #349FD9;
    color: rgb(14, 0, 0);
    width: 150px;
    height: 30px;
    border-color: transparent;
    font-size: large;
}
.aboutus .box .text button:hover{
    background-color: #000000;
    color: #349FD9;
    cursor: pointer;
}
/*animation*/
.aboutus .image2{
    position: relative;
    width: 100px;
    top: -205px;
}
@media only screen and (max-width:1200px) {
    .aboutus .box .text p{
        font-size: 14px;
        width: 100%;
        line-height: 26px;
    }
    .aboutus .box .text h1{
        font-size: 27px;
    }
}
@media only screen and (max-width:850px){
    .aboutus{
        height: 900px;
    }
    .aboutus .box{
        flex-direction: column;
        height: 700px;
    }
    .aboutus .box .text{
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 30%;
    }
    .aboutus .box .text p{
        text-align: center;
        width: 80%;
    }
    .aboutus .box .image1{
        width: 70%;
    }
    .aboutus .image2{
        position:sticky;
        width: 100px;
        bottom: 764px;
        right: 600px;
    }
    .aboutus .box:hover{
        background: linear-gradient(#D9D9D9 1%, rgb(255, 255, 255) 20%, #D9D9D9 100%);
    }
}
@media only screen and (max-width:600px){
    .aboutus .box .text p{
        font-size: 13px;
        width: 80%;
        margin: 20px;
    }
}
/* this is fedi starting the team section*/
.boxes{
    height: 600px;
    width: 100%;
}
.boxes h1{
    text-align: center;
    font-size: 24px;
    line-height: 90px;
    text-transform: uppercase;
}
.box1{
    width: 95%;
    margin: auto;
}
.boxslide{
    background-color: #D9D9D9;
    height: 460px;
    width: 25%;
    z-index: 10;
    border-radius: 20px;
    border: 2px solid rgba(80, 119, 154, 0.55);
}

.boxslide  img{
    height: 60%;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}
.boxslide p{
    height: 20%;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: rgba(80, 119, 154, 0.55);
}
.slick-slide >div {
    margin: 0 10px;
}
@media only screen and (max-width:1200px){
    .boxslide p{
        font-size: 18px;
        margin-top: 10%;
        letter-spacing: 3px;
        text-align: center;
    }
    .boxslide  img{
        margin-top: 15%;
        height: 50%;
    }
}
@media only screen and (max-width:580px){
    .boxslide p{
        font-size: 18px;
        margin-top: 5%;
        letter-spacing: 3px;
    }
    .boxslide  img{
        margin-top: 5%;
        height: 60%;
    }
}
/* fedi doing the last part of the project */
.footer .container{
    height: 290px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.parent{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.parent .sp,.about h1{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.contact h1{
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(2, 111, 51);
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.about p{
    text-align: center;
    line-height: 30px;
    letter-spacing: 1.3px;
    text-transform: capitalize;
}
.fedi,.maram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.contact img{
    width: 40px;
    height: 40px;
}
.contact p{
    text-transform: capitalize;
}
@media only screen and (max-width:1200px){
    .contact h1{
        text-transform: uppercase;
        font-size: 20px;
    }
    .fedi,.maram{
        width: 100%;
    }
}
@media only screen and (max-width:800px){
    .contact{
        flex-direction: column;
    }
    .footer .container{
        height: 450px;
    }
    .about p{
        line-height: 40px;
    }
    .fedi,.maram{
        width: 100%;
    }
}
@media only screen and (max-width:700px){
    .flex{
        flex-direction: column;
    }
    .footer .container{
        height: 600px;
    }
    .about{
        width: 80%;
    }
}

.sp{
    text-transform: uppercase;
    color: #0725ba;
}


.boxes span{
    color: #4f7da4;
    font-weight: bolder;
}
.boxes h1{
    text-shadow: 1px 1px rgb(88, 88, 88);
}
